*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: rubik;
}

header {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 40% 15% 15% 15% 15%;
  // grid-gap: 2rem;
  text-align: center;
  font-size: 1.7rem;
  padding: 2rem;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.3);
  color: white;
  & .one {
    & .name {
      font-size: 4rem;
      text-decoration: none;
      color: white;
    }
  }
}
#mobile-navbar {
  display: none;
}
.underline {
  cursor: pointer;
  & a {
    position: relative;
    color: white;
    text-decoration: none;
  }

  & a::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0;
    top: 100%;
    background: red;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
  }

  & a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}
.scroll {
  background-color: rgba(255, 255, 255, 0.884);
  color: black;
  z-index: 9999;
}

//event
.event-wrapper {
  background-image: url(../images/19adea1c-4a65-4a03-a56e-49ee4b03111f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.event {
  background-color: #000000a6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 3rem;
  padding: 12rem 8rem 5rem 8rem;
  //grid-gap: 1rem;
  justify-items: center;

  &-t {
    display: table;
    width: 75%;
    height: 20rem;
    background: url(/images/501e2714-d5b5-4924-b0f3-5a7e43b9c0bb.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border: white 3px solid;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
  }
  &-1,
  &-2,
  &-3,
  &-4,
  &-5,
  &-6,
  &-7,
  &-8 {
    background: rgba(109, 0, 109, 0.65);
    color: white;
    text-align: center;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
      & button {
        outline: none;
        border: none;
        display: inline-block;
        padding: 0.4em 1.5em;
        margin: 0 0.3em 0.3em 0;
        border-radius: 0.2em;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: #ffffff;
        background-color: transparent;
        border: solid;
        box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
          inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
          inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
        text-align: center;
        position: relative;
        font-size: 1.5rem;
        cursor: pointer;
        & a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }

  &-2 {
    background: rgba(37, 49, 199, 0.65);
    color: white;
    text-align: center;
    overflow: hidden;
    &:hover {
      transform: scale(1.1);
    }
  }
  &-3 {
    background: rgba(23, 228, 40, 0.65);
    color: white;
    text-align: center;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
  &-4 {
    background: rgba(224, 228, 9, 0.65);
    color: white;
    text-align: center;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
  &-5 {
    background: rgba(230, 103, 19, 0.65);
    color: white;
    text-align: center;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
  &-6 {
    background: rgba(223, 6, 89, 0.65);
    color: white;
    text-align: center;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
  &-7 {
    background: rgba(8, 186, 240, 0.65);
    color: white;
    text-align: center;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
  &-8 {
    background: rgba(4, 248, 146, 0.65);
    color: white;
    text-align: center;
    overflow: hidden;

    &:hover {
      transform: scale(1.1);
    }
  }
  &-card {
    display: table-cell;
    vertical-align: middle;

    & h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    & button {
      display: none;
      transform: all 0.2s ease-in-out;
      text-decoration: none;
      &:hover {
        transform: translateY(-2px);
      }
      &:active {
        transform: translateY(2px);
      }
    }
    // &:hover & button {
    //   opacity: 1;
    //   outline: none;
    //   padding: 1rem 2rem;
    //   font-size: 1.5rem;
    //   cursor: pointer;
    // }
  }
}

//footer
footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% 10%;
  padding: 3rem 3rem;
  background: #040110;
  & .contact {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    &-head {
      font-size: 2rem;
      text-decoration: underline rgb(247, 57, 152);
      margin-bottom: 2rem;
    }
    // margin-bottom: 3rem;
  }
  & .follow {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    color: white;
    &-head {
      font-size: 2rem;
      text-decoration: underline rgb(247, 57, 152);
      margin-bottom: 2rem;
    }
  }
  & .copyrights {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    &-text {
      font-size: 2rem;
      color: gray;
      text-decoration: underline;
    }
  }
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #9e0258;
  color: white;
}

.fa {
  padding: 1rem;
  font-size: 2rem;
  width: 4rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
}

.small {
  padding: 0;
  margin: 0;
}

//1024 px width
@media only screen and (max-width: 1024px) {
  .event {
    &-t {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .event {
    grid-template-columns: repeat(3, 1fr);
    &-t {
      width: 90%;
    }
  }
}
@media only screen and (max-width: 425px) {
  #navbar {
    display: none;
  }
  #mobile-navbar {
    display: block;
    #logo {
      position: absolute;
      left: 80%;
      top: 30%;
    }
    #menuToggle {
      display: block;
      position: relative;
      top: 0;
      left: 0;

      z-index: 1;

      -webkit-user-select: none;
      user-select: none;
    }

    #menuToggle a {
      text-decoration: none;
      color: #232323;

      transition: color 0.3s ease;
    }

    #menuToggle a:hover {
      cursor: pointer;
    }

    #menuToggle input {
      display: block;
      width: 4rem;
      height: 3.2rem;
      position: absolute;
      top: -0.7rem;
      left: -0.5rem;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
      display: block;
      width: 3.3rem;
      height: 0.4rem;
      margin-bottom: 0.5rem;
      position: relative;

      background: #cdcdcd;
      border-radius: 0.3rem;

      z-index: 1;

      transform-origin: 0.4rem 0;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-0.2rem, -0.1rem);
      background: #ffffff;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -0.1rem);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
      cursor: pointer;
      position: absolute;
      width: 120vw;
      height: 120vh;
      margin: -10rem 0 0 -5rem;
      padding: 5rem;
      padding-top: 12.5rem;

      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */

      transform-origin: 0% 0%;
      transform: translate(-100%, 0);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    #menu a {
      color: white;
    }
    #menu li {
      padding: 1rem 0;
      font-size: 3rem;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
      transform: none;
      width: 120vw;
      height: 120vh;
      background: #808080f7;
    }
  }
  .event {
    grid-template-columns: repeat(2, 1fr);
    padding: 12rem 2rem 5rem 2rem;
    grid-column-gap: 2rem;
    &-t {
      width: 100%;
      height: 18rem;
    }
  }

  footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
    padding: 3rem 0;
    background: #040110;
    & .contact {
      grid-column-start: 1;
      grid-column-end: 2;
      text-align: center;
      font-size: 1rem;
      color: white;
      &-head {
        font-size: 1.5rem;
        text-decoration: underline rgb(247, 57, 152);
        margin-bottom: 0;
      }
      // margin-bottom: 3rem;
    }
    & .follow {
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: center;
      color: white;
      &-head {
        font-size: 1.5rem;
        text-decoration: underline rgb(247, 57, 152);
      }
    }
    & .copyrights {
      text-align: center;
      grid-column-start: 1;
      grid-column-end: 3;
      &-text {
        font-size: 1.5rem;
        color: gray;
        text-decoration: underline;
      }
    }
  }
  .fa {
    font-size: 1.5rem;
    width: 3.5rem;
  }
}
@media only screen and (max-width: 375px) {
  .event {
    grid-column-gap: 0.8rem;
    &-t {
      height: 16rem;
    }
    &-card {
      & h1 {
        font-size: 2.5rem;
      }
      & button {
        font-size: 1.5rem;
      }
    }
  }
}
@media only screen and (max-width: 325px) {
  .event {
    padding: 12rem 1rem 5rem 1rem;
    grid-column-gap: 0.8rem;
    &-t {
      height: 14rem;
    }
    &-card {
      & h1 {
        font-size: 2.3rem;
      }
      & button {
        font-size: 1.2rem;
      }
    }
  }
}
