*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: rubik;
}

header {
  display: -ms-grid;
  display: grid;
  position: fixed;
  width: 100%;
  -ms-grid-columns: 40% 15% 15% 15% 15%;
      grid-template-columns: 40% 15% 15% 15% 15%;
  text-align: center;
  font-size: 1.7rem;
  padding: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.3);
  color: white;
}

header .one .name {
  font-size: 4rem;
  text-decoration: none;
  color: white;
}

#mobile-navbar {
  display: none;
}

.underline {
  cursor: pointer;
}

.underline a {
  position: relative;
  color: white;
  text-decoration: none;
}

.underline a::before {
  content: "";
  width: 100%;
  position: absolute;
  height: 2px;
  bottom: 0;
  top: 100%;
  background: red;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
}

.underline a:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.scroll {
  background-color: rgba(255, 255, 255, 0.884);
  color: black;
  z-index: 9999;
}

.main-wrapper {
  background-image: url(../images/technical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.main-wrapper-text {
  -webkit-animation: main-text 0.2s linear;
          animation: main-text 0.2s linear;
  position: absolute;
  bottom: 5%;
  left: 22%;
  text-align: center;
}

.main-wrapper-text p {
  font-size: 3rem;
  color: white;
}

@media (max-width: 768px) {
  .main-wrapper-text p {
    font-size: 2.5rem;
  }
}

.main-wrapper-text button {
  outline: none;
  margin-top: 3rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 2rem;
  background: black;
  cursor: pointer;
  border: 3px solid #c430c4;
  color: white;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.main-wrapper-text button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main-wrapper-text button:active {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

@-webkit-keyframes main-text {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes main-text {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    opacity: 0.5;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.about-us {
  padding: 14rem 8rem;
  background-color: #140014;
}

.about-us-1 {
  font-size: 11rem;
  color: white;
  font-weight: 800;
}

.about-us-2 {
  font-size: 4rem;
  color: #525151;
  font-weight: 600;
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

.about-us-3 {
  color: gray;
  font-size: 2rem;
}

.about-us-4 {
  margin-top: 3rem;
  color: gray;
  font-size: 2rem;
}

.timer {
  padding: 12rem 5rem 6rem 5rem;
  display: -ms-grid;
  display: grid;
  grid-gap: 15rem;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  background: rgba(197, 0, 197, 0.5);
  background-image: url(../images/section_18.jpg);
  text-align: center;
}

@media (max-width: 1024px) {
  .timer {
    padding: 8rem 3rem 6rem 3rem;
  }
}

.timer-text {
  font-size: 5rem;
}

.timer-text-1 {
  font-weight: 600;
  color: #42004b;
}

.timer-text-2 {
  color: white;
}

.timer-watch {
  font-size: 8rem;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "1 2 3 4 5 6 7 8 12 9 13 10 14 11";
}

.timer-watch-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: 1;
}

.timer-watch-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: 2;
}

.timer-watch-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: 3;
}

.timer-watch-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: 4;
}

.timer-watch-5 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: 5;
}

.timer-watch-6 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: 6;
}

.timer-watch-7 {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
  grid-area: 7;
}

.timer-watch-8 {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: 8;
  font-size: 3rem;
}

.timer-watch-9 {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
  grid-area: 9;
}

.timer-watch-10 {
  -ms-grid-row: 1;
  -ms-grid-column: 12;
  grid-area: 10;
}

.timer-watch-11 {
  -ms-grid-row: 1;
  -ms-grid-column: 14;
  grid-area: 11;
}

.timer-watch-12 {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
  grid-area: 12;
}

.timer-watch-13 {
  -ms-grid-row: 1;
  -ms-grid-column: 11;
  grid-area: 13;
}

.timer-watch-14 {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
  grid-area: 14;
}

.bottom {
  font-size: 2rem;
  color: #ff0040;
  font-weight: 100;
}

.schedule-wrapper {
  background-image: url(../images/schedule.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}

.schedule-wrapper .schedule {
  background: rgba(0, 0, 0, 0.87);
  height: 100%;
}

.schedule-wrapper .schedule-head p {
  padding: 6rem;
  font-size: 4rem;
  color: white;
  text-align: center;
  font-weight: 600;
}

.schedule-wrapper .schedule-day {
  color: white;
  font-size: 3rem;
  text-align: center;
  font-weight: 700;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 2fr;
      grid-template-rows: 1fr 2fr;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.schedule-wrapper .schedule-day-1-p {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  position: relative;
}

.schedule-wrapper .schedule-day-1-p-date {
  font-size: 2rem;
  font-weight: 100;
  color: #f73998;
}

.schedule-wrapper .schedule-day-1-p::after {
  content: " ";
  background: gray;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 65%;
  left: 0;
}

.schedule-wrapper .schedule-day-1-p:hover::after {
  background: #f73998;
}

.schedule-wrapper .schedule-day-2-p {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  position: relative;
}

.schedule-wrapper .schedule-day-2-p-date {
  font-size: 2rem;
  font-weight: 100;
  color: #f73998;
}

.schedule-wrapper .schedule-day-2-p::after {
  content: " ";
  background: gray;
  width: 100%;
  height: 5px;
  position: absolute;
  top: 65%;
  left: 0;
}

.schedule-wrapper .schedule-day-2-p:hover::after {
  background: #f73998;
}

.schedule-wrapper .schedule-day-1-t {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.schedule-wrapper .schedule-day-1-t ul {
  list-style: none;
}

.schedule-wrapper .schedule-day-1-t ul li {
  padding: 2rem;
}

.schedule-wrapper .schedule-day-1-e {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.schedule-wrapper .schedule-day-1-e ul {
  list-style: none;
  text-align: left;
}

.schedule-wrapper .schedule-day-1-e ul li {
  padding: 2rem;
}

.schedule-wrapper .schedule-day-2-t {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.schedule-wrapper .schedule-day-2-t ul {
  list-style: none;
}

.schedule-wrapper .schedule-day-2-t ul li {
  padding: 2rem;
}

.schedule-wrapper .schedule-day-2-e {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
}

.schedule-wrapper .schedule-day-2-e ul {
  list-style: none;
  text-align: left;
}

.schedule-wrapper .schedule-day-2-e ul li {
  padding: 2rem;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  -ms-grid-rows: 90% 10%;
      grid-template-rows: 90% 10%;
  padding: 3rem 3rem;
  background: #040110;
}

footer .contact {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

footer .contact-head {
  font-size: 2rem;
  -webkit-text-decoration: underline #f73998;
          text-decoration: underline #f73998;
  margin-bottom: 2rem;
}

footer .follow {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  color: white;
}

footer .follow-head {
  font-size: 2rem;
  -webkit-text-decoration: underline #f73998;
          text-decoration: underline #f73998;
  margin-bottom: 2rem;
}

footer .copyrights {
  text-align: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

footer .copyrights-text {
  font-size: 2rem;
  color: gray;
  text-decoration: underline;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #9e0258;
  color: white;
}

.fa {
  padding: 1rem;
  font-size: 2rem;
  width: 4rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.fa:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.small {
  padding: 0;
  margin: 0;
}

.register-wrapper {
  z-index: -1;
  height: 100vh;
  background: url(../images/register.jpeg);
}

.register-wrapper .register {
  border-radius: 1rem;
  position: absolute;
  top: 20%;
  left: 35%;
  width: 30%;
  background-color: black;
  color: white;
  padding: 3rem;
}

.register-wrapper .register input[type="text"],
.register-wrapper .register input[type="password"] {
  width: 80%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.register-wrapper .register input[type="text"]:focus,
.register-wrapper .register input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.register-wrapper .register hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

.register-wrapper .register h1 {
  font-size: 3rem;
  font-weight: 500;
}

.register-wrapper .register p {
  font-size: 1.5rem;
}

.register-wrapper .register button {
  font-size: 2rem;
  padding: 1rem 2rem;
  outline: none;
  background-color: #cf2222;
  border: none;
  margin-top: 1rem;
  margin-left: 12rem;
  color: white;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.register-wrapper .register button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.register-wrapper .register button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

@media only screen and (max-width: 1024px) {
  .main-wrapper-text {
    left: 14%;
  }
  .timer {
    padding-top: 6rem;
    grid-gap: 2rem;
  }
  .register-wrapper {
    height: 110vh;
  }
  .register-wrapper .register {
    width: 35%;
    left: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .main-wrapper-text {
    left: 10%;
  }
  .about-us {
    padding: 5rem 3rem;
  }
  .register-wrapper {
    height: 110vh;
  }
  .register-wrapper .register {
    width: 50%;
    left: 25%;
  }
}

@media only screen and (max-width: 425px) {
  .main-wrapper-text {
    left: 2%;
  }
  .about-us {
    padding: 2rem;
  }
  .about-us-1 {
    font-size: 6rem;
    font-weight: 500;
  }
  .about-us-2 {
    font-size: 2rem;
    font-weight: 600;
    -webkit-transform: translateY(-2rem);
            transform: translateY(-2rem);
  }
  .about-us-3 {
    font-size: 1.5rem;
  }
  .about-us-4 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
  .timer {
    padding: 2rem;
    grid-gap: 0;
  }
  .timer-text {
    font-size: 2.5rem;
  }
  .timer-watch {
    font-size: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .bottom {
    font-size: 1rem;
  }
  .schedule-wrapper {
    background-image: url(../../images/schedule.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .schedule-wrapper .schedule {
    background: rgba(0, 0, 0, 0.87);
    padding-bottom: 2rem;
  }
  .schedule-wrapper .schedule-head p {
    padding: 2rem 0 2rem 0;
    font-size: 2.5rem;
    color: white;
    text-align: center;
    font-weight: 500;
  }
  .schedule-wrapper .schedule-day {
    color: white;
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 10% 40% 10% 40%;
        grid-template-rows: 10% 40% 10% 40%;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    grid-row-gap: 1rem;
  }
  .schedule-wrapper .schedule-day-1-p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    position: relative;
  }
  .schedule-wrapper .schedule-day-1-p-date {
    font-size: 1.5rem;
    font-weight: 100;
    color: #f73998;
  }
  .schedule-wrapper .schedule-day-1-p::after {
    content: " ";
    background: gray;
    width: 90%;
    height: 5px;
    position: absolute;
    top: 110%;
    left: 5%;
  }
  .schedule-wrapper .schedule-day-1-p:hover::after {
    background: #f73998;
  }
  .schedule-wrapper .schedule-day-2-p {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 4;
    position: relative;
  }
  .schedule-wrapper .schedule-day-2-p-date {
    font-size: 1.5rem;
    font-weight: 100;
    color: #f73998;
  }
  .schedule-wrapper .schedule-day-2-p::after {
    content: " ";
    background: gray;
    width: 90%;
    height: 5px;
    position: absolute;
    top: 110%;
    left: 5%;
  }
  .schedule-wrapper .schedule-day-2-p:hover::after {
    background: #f73998;
  }
  .schedule-wrapper .schedule-day-1-t ul {
    list-style: none;
  }
  .schedule-wrapper .schedule-day-1-t ul li {
    padding: 1rem;
  }
  .schedule-wrapper .schedule-day-1-e ul {
    list-style: none;
    text-align: left;
  }
  .schedule-wrapper .schedule-day-1-e ul li {
    padding: 1rem;
  }
  .schedule-wrapper .schedule-day-2-t {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
  .schedule-wrapper .schedule-day-2-t ul {
    list-style: none;
  }
  .schedule-wrapper .schedule-day-2-t ul li {
    padding: 1rem;
  }
  .schedule-wrapper .schedule-day-2-e {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 5;
  }
  .schedule-wrapper .schedule-day-2-e ul {
    list-style: none;
    text-align: left;
  }
  .schedule-wrapper .schedule-day-2-e ul li {
    padding: 1rem;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 90% 10%;
        grid-template-rows: 90% 10%;
    padding: 3rem 0;
    background: #040110;
  }
  footer .contact {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    font-size: 1rem;
    color: white;
  }
  footer .contact-head {
    font-size: 1.5rem;
    -webkit-text-decoration: underline #f73998;
            text-decoration: underline #f73998;
    margin-bottom: 0;
  }
  footer .follow {
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    color: white;
  }
  footer .follow-head {
    font-size: 1.5rem;
    -webkit-text-decoration: underline #f73998;
            text-decoration: underline #f73998;
  }
  footer .copyrights {
    text-align: center;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3;
  }
  footer .copyrights-text {
    font-size: 1.5rem;
    color: gray;
    text-decoration: underline;
  }
  .fa {
    font-size: 1.5rem;
    width: 3.5rem;
  }
  #mobile-navbar {
    display: none;
  }
  .register-wrapper {
    height: 110vh;
  }
  .register-wrapper .register {
    width: 80%;
    left: 10%;
    top: 22%;
  }
  .register-wrapper .register h1 {
    font-size: 2.5rem;
  }
  .register-wrapper .register p {
    font-size: 1.2rem;
  }
  .register-wrapper .register button {
    font-size: 1.5rem;
  }
  #navbar {
    display: none;
  }
  #mobile-navbar {
    z-index: 1111;
    display: block;
    /*
 * Just a quick hamburger
 */
    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    /*
 * But let's hide the middle one.
 */
    /*
 * Ohyeah and the last one should go the other direction
 */
    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    /*
 * And let's slide it in from the left
 */
  }
  #mobile-navbar #logo {
    position: absolute;
    left: 80%;
    top: 30%;
  }
  #mobile-navbar #menuToggle {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-user-select: none;
    -moz-user-select: none;
     -ms-user-select: none;
         user-select: none;
  }
  #mobile-navbar #menuToggle a {
    text-decoration: none;
    color: #232323;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
  }
  #mobile-navbar #menuToggle a:hover {
    cursor: pointer;
  }
  #mobile-navbar #menuToggle input {
    display: block;
    width: 4rem;
    height: 3.2rem;
    position: absolute;
    top: -0.7rem;
    left: -0.5rem;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  #mobile-navbar #menuToggle span {
    display: block;
    width: 3.3rem;
    height: 0.4rem;
    margin-bottom: 0.5rem;
    position: relative;
    background: #cdcdcd;
    border-radius: 0.3rem;
    z-index: 1;
    -webkit-transform-origin: 0.4rem 0;
            transform-origin: 0.4rem 0;
    -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #mobile-navbar #menuToggle span:first-child {
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
  }
  #mobile-navbar #menuToggle span:nth-last-child(2) {
    -webkit-transform-origin: 0% 100%;
            transform-origin: 0% 100%;
  }
  #mobile-navbar #menuToggle input:checked ~ span {
    opacity: 1;
    -webkit-transform: rotate(45deg) translate(-0.2rem, -0.1rem);
            transform: rotate(45deg) translate(-0.2rem, -0.1rem);
    background: #ffffff;
  }
  #mobile-navbar #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    -webkit-transform: rotate(0deg) scale(0.2, 0.2);
            transform: rotate(0deg) scale(0.2, 0.2);
  }
  #mobile-navbar #menuToggle input:checked ~ span:nth-last-child(2) {
    -webkit-transform: rotate(-45deg) translate(0, -0.1rem);
            transform: rotate(-45deg) translate(0, -0.1rem);
  }
  #mobile-navbar #menu {
    cursor: pointer;
    position: absolute;
    width: 120vw;
    height: 120vh;
    margin: -10rem 0 0 -5rem;
    padding: 5rem;
    padding-top: 12.5rem;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    -webkit-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }
  #mobile-navbar #menu a {
    color: white;
  }
  #mobile-navbar #menu li {
    padding: 1rem 0;
    font-size: 3rem;
  }
  #mobile-navbar #menuToggle input:checked ~ ul {
    -webkit-transform: none;
            transform: none;
    width: 120vw;
    height: 120vh;
    background: #808080f7;
  }
}

@media only screen and (max-width: 325px) {
  .main-wrapper-text {
    font-size: 2rem;
  }
  .main-wrapper-text button {
    font-size: 1.5rem;
  }
  .about-us-1 {
    font-size: 3rem;
  }
  .about-us-2 {
    display: none;
  }
  .about-us-3 {
    font-size: 1.2rem;
  }
  .about-us-4 {
    font-size: 1.2rem;
  }
  .schedule-wrapper .schedule-head p {
    font-size: 2rem;
  }
  .schedule-wrapper .schedule-day {
    font-size: 1.5rem;
  }
  .register-wrapper {
    height: 110vh;
  }
  .register-wrapper .register {
    width: 85%;
    left: 8%;
    top: 22%;
  }
}
/*# sourceMappingURL=main.css.map */