*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: rubik;
}

header {
  display: grid;
  position: fixed;
  width: 100%;
  grid-template-columns: 40% 15% 15% 15% 15%;
  // grid-gap: 2rem;
  text-align: center;
  font-size: 1.7rem;
  padding: 2rem;
  align-items: center;
  background: rgba($color: #000000, $alpha: 0.3);
  color: white;
  & .one {
    & .name {
      font-size: 4rem;
      text-decoration: none;
      color: white;
    }
  }
}

#mobile-navbar {
  display: none;
}
.underline {
  cursor: pointer;
  & a {
    position: relative;
    color: white;
    text-decoration: none;
  }

  & a::before {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    bottom: 0;
    top: 100%;
    background: red;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.5s ease-in-out 0s;
  }

  & a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}
.scroll {
  background-color: rgba(255, 255, 255, 0.884);
  color: black;
  z-index: 9999;
}

.main-wrapper {
  background-image: url(../images/technical.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;

  &-text {
    animation: main-text 0.2s linear;
    position: absolute;
    bottom: 5%;
    left: 22%;
    text-align: center;
    & p {
      font-size: 3rem;
      color: white;
      @media (max-width: 768px) {
        font-size: 2.5rem;
      }
    }
    & button {
      outline: none;
      margin-top: 3rem;
      padding: 1rem;
      border-radius: 10px;
      font-size: 2rem;
      background: black;
      cursor: pointer;
      border: 3px solid rgb(196, 48, 196);
      color: white;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-5px);
      }
      &:active {
        transform: translateY(1px);
      }
    }
  }
}

@keyframes main-text {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  50% {
    opacity: 0.5;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.about-us {
  padding: 14rem 8rem;
  background-color: rgb(20, 0, 20);
  &-1 {
    font-size: 11rem;
    color: white;
    font-weight: 800;
  }
  &-2 {
    font-size: 4rem;
    color: rgb(82, 81, 81);
    font-weight: 600;
    transform: translateY(-4rem);
  }
  &-3 {
    color: gray;
    font-size: 2rem;
  }
  &-4 {
    margin-top: 3rem;
    color: gray;
    font-size: 2rem;
  }
}

.timer {
  padding: 12rem 5rem 6rem 5rem;
  display: grid;
  grid-gap: 15rem;
  grid-template-columns: 1fr 2fr;
  background: rgba(rgb(197, 0, 197), $alpha: 0.5);
  background-image: url(../images/section_18.jpg);
  text-align: center;
  @media (max-width: 1024px) {
    padding: 8rem 3rem 6rem 3rem;
  }
  &-text {
    font-size: 5rem;
    &-1 {
      font-weight: 600;
      color: rgb(66, 0, 75);
    }
    &-2 {
      color: white;
    }
  }
  &-watch {
    font-size: 8rem;
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "1 2 3 4 5 6 7
                          8 12 9 13 10 14 11";
    // &-des {
    //   font-size: 3rem;
    // }
    &-1 {
      grid-area: 1;
    }
    &-2 {
      grid-area: 2;
    }
    &-3 {
      grid-area: 3;
    }
    &-4 {
      grid-area: 4;
    }
    &-5 {
      grid-area: 5;
    }
    &-6 {
      grid-area: 6;
    }
    &-7 {
      grid-area: 7;
    }
    &-8 {
      grid-area: 8;
      font-size: 3rem;
    }
    &-9 {
      grid-area: 9;
    }
    &-10 {
      grid-area: 10;
    }
    &-11 {
      grid-area: 11;
    }
    &-12 {
      grid-area: 12;
    }
    &-13 {
      grid-area: 13;
    }
    &-14 {
      grid-area: 14;
    }
  }
}

.bottom {
  font-size: 2rem;
  color: rgb(255, 0, 64);
  font-weight: 100;
}

.schedule-wrapper {
  background-image: url(../images/schedule.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  & .schedule {
    background: rgba(0, 0, 0, 0.87);
    height: 100%;
    &-head {
      & p {
        padding: 6rem;
        font-size: 4rem;
        color: white;
        text-align: center;
        font-weight: 600;
      }
    }
    &-day {
      color: white;
      font-size: 3rem;
      text-align: center;
      font-weight: 700;
      display: grid;
      grid-template-rows: 1fr 2fr;
      grid-template-columns: repeat(4, 1fr);

      &-1-p {
        grid-column-start: 1;
        grid-column-end: 3;
        position: relative;
        &-date {
          font-size: 2rem;
          font-weight: 100;
          color: rgb(247, 57, 152);
        }
        &::after {
          content: " ";
          background: gray;
          width: 100%;
          height: 5px;
          position: absolute;
          top: 65%;
          left: 0;
        }
        &:hover::after {
          background: rgb(247, 57, 152);
        }
      }
      &-2-p {
        grid-column-start: 3;
        grid-column-end: 5;
        position: relative;
        &-date {
          font-size: 2rem;
          font-weight: 100;
          color: rgb(247, 57, 152);
        }
        &::after {
          content: " ";
          background: gray;
          width: 100%;
          height: 5px;
          position: absolute;
          top: 65%;
          left: 0;
        }
        &:hover::after {
          background: rgb(247, 57, 152);
        }
      }
      &-1-t {
        grid-column-start: 1;
        grid-column-end: 2;
        & ul {
          list-style: none;
          & li {
            padding: 2rem;
          }
        }
      }
      &-1-e {
        grid-column-start: 2;
        grid-column-end: 3;
        & ul {
          list-style: none;
          text-align: left;
          & li {
            padding: 2rem;
          }
        }
      }
      &-2-t {
        grid-column-start: 3;
        grid-column-end: 4;
        & ul {
          list-style: none;
          & li {
            padding: 2rem;
          }
        }
      }
      &-2-e {
        grid-column-start: 4;
        grid-column-end: 5;
        & ul {
          list-style: none;
          text-align: left;
          & li {
            padding: 2rem;
          }
        }
      }
    }
  }
}

footer {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 90% 10%;
  padding: 3rem 3rem;
  background: #040110;
  & .contact {
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
    font-size: 1.5rem;
    color: white;
    &-head {
      font-size: 2rem;
      text-decoration: underline rgb(247, 57, 152);
      margin-bottom: 2rem;
    }
    // margin-bottom: 3rem;
  }
  & .follow {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
    color: white;
    &-head {
      font-size: 2rem;
      text-decoration: underline rgb(247, 57, 152);
      margin-bottom: 2rem;
    }
  }
  & .copyrights {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 3;
    &-text {
      font-size: 2rem;
      color: gray;
      text-decoration: underline;
    }
  }
}

.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #9e0258;
  color: white;
}

.fa {
  padding: 1rem;
  font-size: 2rem;
  width: 4rem;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
  }
}

.small {
  padding: 0;
  margin: 0;
}

//register.html

.register-wrapper {
  height: 100vh;
  background: url(../images/register.jpeg);
  & .register {
    border-radius: 1rem;
    position: absolute;
    top: 20%;
    left: 35%;
    width: 30%;
    background-color: black;
    color: white;
    padding: 3rem;
    input[type="text"],
    input[type="password"] {
      width: 80%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    input[type="text"]:focus,
    input[type="password"]:focus {
      background-color: #ddd;
      outline: none;
    }
    hr {
      border: 1px solid #f1f1f1;
      margin-bottom: 25px;
    }
    h1 {
      font-size: 3rem;
      font-weight: 500;
    }
    p {
      font-size: 1.5rem;
    }
    button {
      font-size: 2rem;
      padding: 1rem 2rem;
      outline: none;
      background-color: rgb(207, 34, 34);
      border: none;
      margin-top: 1rem;
      margin-left: 12rem;
      color: white;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        transform: translateY(-5px);
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}

//1024 px width
@media only screen and (max-width: 1024px) {
  .main-wrapper {
    &-text {
      left: 14%;
    }
  }
  .timer {
    padding-top: 6rem;
    grid-gap: 2rem;
  }
  .register-wrapper {
    height: 110vh;
    & .register {
      width: 35%;
      left: 30%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .main-wrapper {
    &-text {
      left: 10%;
    }
  }
  .about-us {
    padding: 5rem 3rem;
  }
  .register-wrapper {
    height: 110vh;
    & .register {
      width: 50%;
      left: 25%;
    }
  }
}

@media only screen and (max-width: 425px) {
  .main-wrapper {
    &-text {
      left: 2%;
    }
  }
  .about-us {
    padding: 2rem;
    &-1 {
      font-size: 6rem;
      font-weight: 500;
    }
    &-2 {
      font-size: 2rem;
      font-weight: 600;
      transform: translateY(-2rem);
    }
    &-3 {
      font-size: 1.5rem;
    }
    &-4 {
      font-size: 1.5rem;
      margin-top: 2rem;
    }
  }
  .timer {
    padding: 2rem;
    grid-gap: 0;
    &-text {
      font-size: 2.5rem;
    }
    &-watch {
      font-size: 2rem;
      align-items: center;
    }
  }
  .bottom {
    font-size: 1rem;
  }
  .schedule-wrapper {
    background-image: url(../../images/schedule.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    & .schedule {
      background: rgba(0, 0, 0, 0.87);
      padding-bottom: 2rem;
      &-head {
        & p {
          padding: 2rem 0 2rem 0;
          font-size: 2.5rem;
          color: white;
          text-align: center;
          font-weight: 500;
        }
      }
      &-day {
        color: white;
        font-size: 2rem;
        text-align: center;
        font-weight: 500;
        display: grid;
        grid-template-rows: 10% 40% 10% 40%;
        grid-template-columns: 50% 50%;
        grid-row-gap: 1rem;
        &-1-p {
          grid-column-start: 1;
          grid-column-end: 3;
          position: relative;
          &-date {
            font-size: 1.5rem;
            font-weight: 100;
            color: rgb(247, 57, 152);
          }
          &::after {
            content: " ";
            background: gray;
            width: 90%;
            height: 5px;
            position: absolute;
            top: 110%;
            left: 5%;
          }
          &:hover::after {
            background: rgb(247, 57, 152);
          }
        }
        &-2-p {
          grid-column-start: 1;
          grid-column-end: 3;
          grid-row-start: 3;
          grid-row-end: 4;
          position: relative;
          &-date {
            font-size: 1.5rem;
            font-weight: 100;
            color: rgb(247, 57, 152);
          }
          &::after {
            content: " ";
            background: gray;
            width: 90%;
            height: 5px;
            position: absolute;
            top: 110%;
            left: 5%;
          }
          &:hover::after {
            background: rgb(247, 57, 152);
          }
        }
        &-1-t {
          & ul {
            list-style: none;
            & li {
              padding: 1rem;
            }
          }
        }
        &-1-e {
          & ul {
            list-style: none;
            text-align: left;
            & li {
              padding: 1rem;
            }
          }
        }
        &-2-t {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 4;
          grid-row-end: 5;
          & ul {
            list-style: none;
            & li {
              padding: 1rem;
            }
          }
        }
        &-2-e {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 4;
          grid-row-end: 5;
          & ul {
            list-style: none;
            text-align: left;
            & li {
              padding: 1rem;
            }
          }
        }
      }
    }
  }
  footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 90% 10%;
    padding: 3rem 0;
    background: #040110;
    & .contact {
      grid-column-start: 1;
      grid-column-end: 2;
      text-align: center;
      font-size: 1rem;
      color: white;
      &-head {
        font-size: 1.5rem;
        text-decoration: underline rgb(247, 57, 152);
        margin-bottom: 0;
      }
      // margin-bottom: 3rem;
    }
    & .follow {
      grid-column-start: 2;
      grid-column-end: 3;
      text-align: center;
      color: white;
      &-head {
        font-size: 1.5rem;
        text-decoration: underline rgb(247, 57, 152);
      }
    }
    & .copyrights {
      text-align: center;
      grid-column-start: 1;
      grid-column-end: 3;
      &-text {
        font-size: 1.5rem;
        color: gray;
        text-decoration: underline;
      }
    }
  }
  .fa {
    font-size: 1.5rem;
    width: 3.5rem;
  }
  #mobile-navbar {
    display: none;
  }
  .register-wrapper {
    height: 110vh;
    & .register {
      width: 80%;
      left: 10%;
      top: 22%;
      & h1 {
        font-size: 2.5rem;
      }
      & p {
        font-size: 1.2rem;
      }
      & button {
        font-size: 1.5rem;
      }
    }
  }
  #navbar {
    display: none;
  }
  #mobile-navbar {
    display: block;
    #logo {
      position: absolute;
      left: 80%;
      top: 30%;
    }
    #menuToggle {
      display: block;
      position: relative;
      top: 0;
      left: 0;

      z-index: 1;

      -webkit-user-select: none;
      user-select: none;
    }

    #menuToggle a {
      text-decoration: none;
      color: #232323;

      transition: color 0.3s ease;
    }

    #menuToggle a:hover {
      cursor: pointer;
    }

    #menuToggle input {
      display: block;
      width: 4rem;
      height: 3.2rem;
      position: absolute;
      top: -0.7rem;
      left: -0.5rem;

      cursor: pointer;

      opacity: 0; /* hide this */
      z-index: 2; /* and place it over the hamburger */

      -webkit-touch-callout: none;
    }

    /*
 * Just a quick hamburger
 */
    #menuToggle span {
      display: block;
      width: 3.3rem;
      height: 0.4rem;
      margin-bottom: 0.5rem;
      position: relative;

      background: #cdcdcd;
      border-radius: 0.3rem;

      z-index: 1;

      transform-origin: 0.4rem 0;

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
    }

    #menuToggle span:first-child {
      transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%;
    }

    /* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
    #menuToggle input:checked ~ span {
      opacity: 1;
      transform: rotate(45deg) translate(-0.2rem, -0.1rem);
      background: #ffffff;
    }

    /*
 * But let's hide the middle one.
 */
    #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
 * Ohyeah and the last one should go the other direction
 */
    #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -0.1rem);
    }

    /*
 * Make this absolute positioned
 * at the top left of the screen
 */
    #menu {
      cursor: pointer;
      position: absolute;
      width: 120vw;
      height: 120vh;
      margin: -10rem 0 0 -5rem;
      padding: 5rem;
      padding-top: 12.5rem;

      background: #ededed;
      list-style-type: none;
      -webkit-font-smoothing: antialiased;
      /* to stop flickering of text in safari */

      transform-origin: 0% 0%;
      transform: translate(-100%, 0);

      transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    }
    #menu a {
      color: white;
    }
    #menu li {
      padding: 1rem 0;
      font-size: 3rem;
    }

    /*
 * And let's slide it in from the left
 */
    #menuToggle input:checked ~ ul {
      transform: none;
      width: 120vw;
      height: 120vh;
      background: #808080f7;
    }
  }
}

@media only screen and (max-width: 375px) {
}
@media only screen and (max-width: 325px) {
  .main-wrapper {
    &-text {
      font-size: 2rem;
      & button {
        font-size: 1.5rem;
      }
    }
  }
  .about-us {
    &-1 {
      font-size: 3rem;
    }
    &-2 {
      display: none;
    }
    &-3 {
      font-size: 1.2rem;
    }
    &-4 {
      font-size: 1.2rem;
    }
  }
  .schedule-wrapper {
    & .schedule {
      &-head {
        & p {
          font-size: 2rem;
        }
      }
      &-day {
        font-size: 1.5rem;
      }
    }
  }
  .register-wrapper {
    height: 110vh;
    & .register {
      width: 85%;
      left: 8%;
      top: 22%;
    }
  }
}
